// https://www.htmlcsscolor.com/hex/000000
$color-black: #000000;
$color-white: #ffffff;
$color-turquoise: #a6ffff;
$color-blue: #82b3d3;
$color-brown: #756157;
$color-darkblue: #68a2ca;
$color-darkbrown: #615048;
$color-grey: #f3f3f3;

$transition-default: 0.3s ease-in-out;
