{% extends '../main.twig' %}

{% block main %}
	<section class="section">
		<h1 class="visually-hidden">{{ pageHeading }}</h1>

			{% include '../blocks/test1.twig' with aboutContent %}
	</section>

{% endblock %}
