<div>
	<ul class="choice">
		{% for item in pages %}
			<li>
				<a class="choice__link button {{ loop.index0 ?: 'button--primary' }} button--big" href="{{ item.url }}">
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
