.promo {
	@include media-desktop {
		display: grid;
		grid-template-columns: 3fr 1fr;
		max-width: 1600px;
		margin: 0 auto;
		padding: 20px;
		background-color: #f3f3f3;
	}
}

.promo__content {
	@include media-desktop {
		margin-top: 2px;
		margin-left: 6px;
	}
}

.promo__text {
	@include media-desktop {
		margin: 0 0 35px 4px;
		padding: 0;
		line-height: 1.7;
	}
}

.promo__heading {
	font-family: "Bebas Neue", sans-serif;
	text-transform: uppercase;

	@include media-desktop {
		margin: 0 0 38px;
		padding: 0;
		font-size: 62px;
		color: #0b64fe;
	}
}

.promo__picture {
	@include media-desktop {
		position: relative;
		top: -35px;
		width: 100%;
		max-width: 900px;
		height: 100%;
		margin: 0 auto;
	}
}

.promo__image-table-legs {
	@include media-desktop {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translateX(-50%);
		object-fit: cover;
	}
}

.promo__image-table {
	@include media-desktop {
		position: absolute;
		object-fit: cover;
		height: 100%;
		transition: transform 0.5s ease-out;
	}
}

.promo__button {
	@include media-desktop {
		position: absolute;
		bottom: 297px;
		left: calc(50% - 450px);
		width: 200px;
		height: 200px;
		padding: 45px;
		font-size: 40px;
		line-height: 1.7;
		background-color: #a6ffff;
		border: none;
		border-radius: 50%;
		cursor: pointer;

		&--bottom {
			left: calc(50% - 177px);
		}
	}
}

.promo__lifted {
	transform: translateY(-100px);
}
